	
<template name="footer">
	<footer><div id="flags"><p><img id="ru" src="/imgs/ru.png"><img id="en" src="/imgs/en.png"></p></div><div id="footright"><div id="copyright">Copyright<i class="fa fa-copyright" aria-hidden="true"></i> <a href="http://luxgames.ml">LuxGames</a>
</div><div id="contact"><i class="fa fa-envelope" aria-hidden="true"></i>{{_ "Contact"}}</div></div></footer>
</template>