<template name="game">
	<div id="game" class="group{{group}}">
		<div id="bet"><li>{{_ "Bet"}}:<span id="betvalue">{{bet}}</span> WARPOINT</li></div>

		<div id="date"><li>{{_ "Date"}}:{{date}}</li></div>
		{{#if Comment}}
		<div id="text"><li>{{_ "Comment"}}:{{text}}</li></div>
		{{/if}}


		{{#if $eq creator currentUser._id}}
		<div id="showWarrior"><li>{{_ "Warrior"}}:{{creatorWarrior}}</li></div>
		<div id="yourgame"><p>{{_ "Your Game"}}</p></div>
		{{else}}
								<form id="playgame{{_id}}" class="playgame">
				<div id="choosecontr"><li>{{_ "Contr-warrior"}}</li><select id="warrior" name="warrior">
					  <option id="id0" value="0">{{_ "rock"}}</option>
					  <option id="id1" value="1">{{_ "scissors"}}</option>
					  <option id="id2" value="2">{{_ "paper"}}</option>
					</select></div></form>
				<div id="plgame{{_id}}" class="plgame"><p>{{_ "Kill Player"}}</p></div>
				<script type="text/javascript">
$("div #plgame{{_id}}").click( function () {
	new Confirmation({
  message: "{{_ 'Warrior'}}: " + dict[parseInt($('.playgame select').val())] + '' + "\n{{_ 'Bet'}}:" + {{bet}},
  title: "{{_ 'Confirmation'}}",
  cancelText: "{{_ 'Cancel'}}",
  okText: "{{_ 'PlayGame'}}",
  success: true,
  focus: "cancel" 
			}, function (ok) { 


				if (ok) {$("#playgame{{_id}}").submit()} 

			}

		)});
</script>
		{{/if}}

		
	</div>

</template>
