<template name="history">
	<h1> {{_"my-history"}}</h1>
	<table>
	<tr id="head">
	<th>{{_ "Date"}}</th><th>{{_ "Creator"}}</th><th>{{_ "Creator-warrior"}}</th><th>{{_ "CreatorGot"}}</th>
				<th>{{_ "Player"}}</th><th>{{_ "Player-warior"}}</th><th>{{_ "PlayerGot"}}</th><th>{{_ "bank"}}</th>
				
				<th>{{_ "SkillAPlus"}}</th><th>{{_ "SkillBPlusB"}}</th>
	</tr>
	{{#each gamelogs}}
	<tr class="tab">

	<td>{{date}}</td>

	{{#each creator}}
	<td>{{this}}</td>
	{{/each}}
	{{#each player}}
	<td>{{this}}</td>
	{{/each}}
	{{bank}}
	{{#each skillA}}
	{{#if $eq @index 0}}
	<td>{{this}}</td>
	{{/if}}
	{{/each}}
	{{#each skillB}}
	{{#if $eq @index 0}}
	<td>{{this}}</td>
	{{/if}}
	{{/each}}
	</tr>
	{{/each}}
	</table>



</template>