<template name="lobby">
<head>
	<meta name=viewport content="width=device-width, initial-scale=1">
</head>
	<div id="gameheader">


	<div id="profile">
	<button id="logout">{{_ "Log out"}}</button>
			{{#if ver}}
		<li style="padding:0;marging:0">{{_"Not Verified"}}</li>
	{{/if}}
	<h3>{{address}}</h3>

	<div id="balance">{{_"Balance"}}: {{balance}} WarPoints</div>
	<div id="cashier-btn"><i class="fa fa-chevron-right" aria-hidden="true"></i>{{_ "cashier"}}</div>
	</div>

	<div id="logo"><a href="/"><img src="/imgs/logo.png"></a></div>
<div id="mydimmer" style="display:none"></div>
<div id="cashier" style="display:none">
<button id="close-cashier">{{_ "Close"}}</button>
		<div id="menu"><ul>
			<li id="deposit-btn">{{_"Deposit"}}</li>
			<li id="withdraw-btn">{{_"Withdraw"}}</li>
			<li id="transiction-btn">{{_"TransactionHistory"}}</li>
		</ul></div>
		<p id="info">
			100 WP = 1 RUB <br> -OR- <br>
			100 WP = 0,016 USD <br>
		</p>
		<script type="text/javascript">
		$("#close-cashier").click(function (){
			$("#cashier").hide();
			$("#mydimmer").hide();
		})</script>
		<div id="deposit">
<iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/shop.xml?account=410014341070184&quickpay=shop&payment-type-choice=on&mobile-payment-type-choice=on&writer=seller&targets={{currentUser._id}}&default-sum=&button-text=03&successURL=http%3A%2F%2Fmywar.club%2Fpaymentstatus" width="450" height="200"></iframe>

		</div>
	</div>
	</div>
	<div id="lobbymenu"><ul>
			<li id="my-partner-btn"><p><i class="fa fa-chevron-right" aria-hidden="true"></i>{{_ "my-partner"}}</p></li>
			<li id="lobby-btn" style="display:none"><p><i class="fa fa-chevron-right" aria-hidden="true"></i>{{_ "games"}}</p></li>
			<li id="my-history-btn"><p><i class="fa fa-chevron-right" aria-hidden="true"></i>{{_ "my-history"}}</p></li>
	</ul>

	</div>
	<div id="partner" style="display:none">
		{{>partner}}

	</div>
		<div id="history" style="display:none">
		{{>history}}

	</div>
	<div id="lobby">
		
		<div id="warriors">

			<div id="rocklobby">

			<div id="skills">
				<div id="black"><div id="blue"></div></div>
			
				<div id="black"><div id="red" style="width: 1%"></div><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></div> 
				<div id="black"><div id="yellow"></div><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></div> 

				<script type="text/javascript">
				$(document).ready( function () {
					$("#rocklobby #skills #blue").css({'width': '100%'})
					$("#suitlobby #skills #yellow").css({'width': '100%'})
					$("#cutterlobby #skills #red").css({'width': '100%'})
				})
				
				

				</script>




			</div>

			<div id="rockcoverlobby"  style="display:none">
			<ul>
			<li class="max">1000000</li>
			
			<li class="red">{{rockSC}}</li> 
			<li class="yellow">{{rockPA}}</li> 
			</ul></div>

</div>
      		<div id="suitlobby">

			<div id="skills">
				<div id="black"><div id="blue"></div><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></div>
			
				<div id="black"><div id="red"></div><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></div> 
				<div id="black"><div id="yellow"></div></div> 





			</div>



      		<div id="suitcoverlobby" style="display:none"><ul>

			
			<li class="blue">{{paperRO}}<i class="fa fa-arrow-circle-up" aria-hidden="true"></i></li>

			<li class="red">{{paperSC}}<i class="fa fa-arrow-circle-up" aria-hidden="true"></i></li> 
			<li class="max">1000000</li> 
			</ul></div></div>




      		<div id="cutterlobby">

			<div id="skills">
				<div id="black"><div id="blue"></div><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></div>
			
				<div id="black"><div id="red"></div></div> 
				<div id="black"><div id="yellow"></div><i class="fa fa-arrow-circle-up" aria-hidden="true"></i></div> 





			</div>




      		<div id="cuttercoverlobby" style="display:none">
      			<ul>
		
			<li class="blue">{{scissorsRO}}<i class="fa fa-arrow-circle-up" aria-hidden="true"></i></li>
						<li class="max">1000000</li> 
			<li class="yellow">{{scissorsPA}}<i class="fa fa-arrow-circle-up" aria-hidden="true"></i></li> 
			</ul>
      		</div></div>
      		<script type="text/javascript">
      		$("#rocklobby").click( function() {
      			if ($('#rockcoverlobby').is(":hidden")) {
				$('#rockcoverlobby').fadeIn();
			}
      		})
      		$('#rockcoverlobby').click( function() {
      			$('#rockcoverlobby').fadeOut();
      		})
      		$('#cutterlobby').click( function() {
			if ($('#cuttercoverlobby').is(":hidden")) {
				$('#cuttercoverlobby').fadeIn();
			} });

			$('#cuttercoverlobby').click( function() {
				$('#cuttercoverlobby').fadeOut();
			});
      		$('#suitlobby').click( function() {
			if ($('#suitcoverlobby').is(":hidden")) {
				$('#suitcoverlobby').fadeIn();
			} });
      		$('#suitcoverlobby').click ( function () {
      			$('#suitcoverlobby').fadeOut();
      		})

      		</script>
      	</div>
		<div id="games">
			<div id="add">
				<form id="addbattle">
				<div id="bet"><li>{{_ "bet"}}</li><input type="Number" name="bet" min="100" value="100"></div>
				<div id="commet"><li>{{_ "comment"}}</li><input id="comm" type="text" name="text" defaultvalue=""> </div>
				<div id="choosewarrior"><li>{{_ "warrior"}}</li><select id="warrior" name="warrior">
					  <option id="id0" value="0">{{_ "rock"}}</option>
					  <option id="id1" value="1">{{_ "scissors"}}</option>
					  <option id="id2" value="2">{{_ "paper"}}</option>
					</select></div>

				<div id="addgame"><p>{{_ "new-battle"}}</p></div></form>
			</div>
				<script type="text/javascript">
				var dict = ['{{_ "rock"}}', '{{_ "scissors"}}', '{{_ "paper"}}'];
				$("#addgame").click(function (){
									  	new Confirmation({
  message: "{{_ 'Warrior'}}: " + dict[parseInt($('#addbattle select').val())] + '' + "\n{{_ 'Bet'}}:" + $("#bet input").val(),
  title: "{{_ 'Confirmation'}}",
  cancelText: "{{_ 'Cancel'}}",
  okText: "{{_ 'new-battle'}}",
  success: true,
  focus: "cancel" 
}, function (ok) { if (ok) {
	$("#addbattle").submit()
}});


				})

				/*$('#comm').click({ function () {
					var value = $('#comm').val();
					var text = '';
					if (value == '{{_ "comment"}}') {
						$('#comm').val(text)
					}
				}}
				)*/
	/* $('select').change( function() {
		var warrior = $('select').val();
		if (warrior == '0') {
			var img = $("#rocklobby")
		} else {
		if (warrior == '1') {
			var img = $("#suitlobby")
		} else {

		if (warrior == '2') {
			var img = $("#cutterlobby")
		}}}
		img.css({"border": "5px solid green"})

	})*/
</script>
			
			<div id="list">
			<div id="divider"><h3>{{_ "Filter bets up to"}}:</h3>
				<ul>
					<li id="extralow">500WP</li>
					<li id="low">1kWP</li>
					<li id="med">10kWP</li>
					<li id="high">100kWP</li>
					<li id="xhight">1MWP</li>
				</ul>
			</div>
			<script type="text/javascript">
			$("#extralow").click( function () {
				$(".group0").show();
				$(".group1").hide();		
				$(".group2").hide();
			});
			$("#low").click( function () {
				$(".group0").hide();
				$(".group1").show();		
				$(".group2").hide();
				$(".group3").hide();
				$(".group4").hide();
			})
			$("#med").click( function () {
				$(".group0").hide();
				$(".group1").hide();		
				$(".group2").show();	
				$(".group3").hide();
				$(".group4").hide();
			})
			$("#high").click( function () {
				$(".group0").hide();
				$(".group1").hide();		
				$(".group2").hide();
				$(".group3").show();	
				$(".group4").hide();
			})
			$("#xhight").click( function () {
				$(".group0").hide();
				$(".group1").hide();		
				$(".group2").hide();
				$(".group3").show();	
				$(".group4").hide();
			})



			</script>
				{{#each games}}
					{{> game}}
				{{/each}}
			</div>
			<script type="text/javascript">

			

			</script>


		</div>


	</div>
	<div id="bottom">
		{{> Template.dynamic template=footer}}
	</div>
<script type="text/javascript">
/*$(document).ready(function {
	$("#lobby").hide()
})*/

	$("#my-partner-btn").click(
		function () {
			$(this).hide();
			$("#partner").slideDown();
			$("#lobby").hide();
			$("#history").hide();
			$("#lobby-btn").show()
			$("#my-history-btn").show()
	})
	$("#lobby-btn").click(
		function () {
			$(this).hide();
			$("#history").hide();
			$("#partner").hide();
			$("#lobby").slideDown("slow");
			$("#my-partner-btn").show()
			$("#my-history-btn").show()
	})
		$("#my-history-btn").click(
		function () {
			$(this).hide();
			$("#partner").hide("slow");
			$("#history").show();
			$("#lobby").hide();
			$("#my-partner-btn").show()
			$("#lobby-btn").show()
	})
			$("#cashier-btn").click(
		function () {
			$("#mydimmer").show();
			$("#cashier").show();
	})
			$("#mydimmer").click(function () {
				$("#cashier").hide();
				$("#mydimmer").hide();
			})
</script>


</template>