<head>
<meta name=viewport content="width=device-width, initial-scale=1">
  <title>myWar</title>
</head>

<template name="main">




<body>
  <header><div id="menu-btn"><i class="fa fa-bars" aria-hidden="true"></i>
</div>
<script type="text/javascript">
  $("#menu-btn").click(function (){
    if($("#menuhome ul").is(":hidden")){
    $("#menuhome ul").slideDown("slow")} else {
      $("#menuhome ul").slideUp("slow")
    }
  })
</script>

<a href="/"><img id="logo" src="/imgs/logo.png"></a>
  <div id="flags"><p><img id="ru" src="/imgs/ru.png"><img id="en" src="/imgs/en.png"></p></div></header>


  <div id="home">
  <div id="menuhome"><ul><li id="about-btn"><i class="fa fa-chevron-right" aria-hidden="true"></i>
{{_"about-btn"}}</li><li id="partner-btn"><i class="fa fa-chevron-right" aria-hidden="true"></i> {{_"partner-btn"}}</li></ul></div>
<div id="mydimmer" style="display:none"></div>
  <div id="about" style="display:none">
  <button id="close-about">{{_ "Close"}}</button>
<p>{{_"rules"}}</p>

<script type="text/javascript">
  $("#close-about").click(
    function () {
      $("#about").hide();
      $("#mydimmer").hide();
    }

    )

</script>
</div>

  <div id="partner-info" style="display:none">
  <button id="close-partner">{{_ "Close"}}</button>
<p>{{_"partner-info"}}</p>


<script type="text/javascript">
  $("#close-partner").click(
    function () {
      $("#partner-info").hide();
      $("#mydimmer").hide();
    }

    )

</script>
</div>
      <div id="homeright">
      <div id="bonus-btn"><i class="fa fa-chevron-right" aria-hidden="true"></i>  <i class="fa fa-gift" aria-hidden="true"></i>  {{_"bonus-btn"}}<br><span id="extra">{{_"extra-bonus-btn"}}</span></div>
            <div id="login">{{> atForm}}</div>
      </div>
    <div id="homeleft"> 
      <div id="rock"><div id="rockcover"></div></div>
      <div id="suit"><div id="suitcover"></div></div>
      <div id="cutter"><div id="cuttercover"></div></div>

      <script type="text/javascript">
      $(document).ready(function() {
        $("#rockcover").fadeOut(2000, function () {$("#suitcover").fadeOut(2000, function () {$("#cuttercover").fadeOut(2000, function () {

                $("#rock").mouseenter(function() {$("#rockcover").fadeIn()}).mouseleave( function() {$("#rockcover").hide()})
      $("#suit").mouseenter(function() {$("#suitcover").fadeIn()}).mouseleave( function() {$("#suitcover").hide()})
      $("#cutter").mouseenter(function() {$("#cuttercover").fadeIn()}).mouseleave( function() {$("#cuttercover").hide()})
        })})})}
        )

      </script>
    </div>

</div>
  <div id="bottom">
    {{> Template.dynamic template=footer}}
  </div>
</body>
<script type="text/javascript">
  $("#about-btn").click(function() {
    $("#about").slideDown()

      $("#mydimmer").show();
  })
  $("#partner-btn").click(function() {
    $("#partner-info").slideDown()
      $("#mydimmer").show();
  })


  $("#mydimmer").click(
    function () {
      $("#about").hide();
      $("#mydimmer").hide();
      $("#partner-info").hide();
    }

    )

</script>

</template>

