<template name="myatForm">
  {{#unless hide}}

    <div class="at-form">
    <ul>
 {{#if currentUser}}<li id="lobbybtn"><a href="/lobby">{{_ "Lobby"}}</a></li>{{else}}
    <li id="singIn">{{> atSigninLink}}</li>
    <li id="singUn">{{> atSignupLink}}</li>{{/if}}</ul>
      {{#if showOauthServices}}
        {{> atOauth}}
      {{/if}}
      {{#if showServicesSeparator}}
        {{> atSep}}
      {{/if}}
      {{#if showError}}
        {{> atError}}
      {{/if}}
      {{#if showResult}}
        {{> atResult}}
      {{/if}}
      {{#if showMessage}}
        {{> atMessage}}
      {{/if}}
      {{#if showPwdForm}}
        {{> atPwdForm}}
      {{/if}}
      {{#if showTermsLink}}
        {{> atTermsLink}}
      {{/if}}
      {{#if showResendVerificationEmailLink}}
        {{> atResendVerificationEmailLink}}
      {{/if}}
    </div>
  {{/unless}}
</template>

<template name="myatSigninLink">
  <div class="at-signin-link">
    <p>
      <a href="{{signInLink}}" id="at-signIn" class="at-link at-signin {{disabled}}">{{_ "sign_in"}}</a>
    </p>
  </div>
</template>

<template name="myatSignupLink">
  <div class="at-signup-link">
    <p>
      <a href="{{signUpLink}}" id="at-signUp" class="at-link at-signup {{disabled}}">{{_ "sign_up"}}</a>
    </p>
  </div>
</template>

<template name="myatPwdFormBtn">
  <button type="submit" class="my-btn submit {{submitDisabled}}" id="my-btn">{{_ "Let's Play"}}
  </button>
</template>

<template name="myatPwdLink">
  <div class="forgot">
      <a href="{{forgotPwdLink}}"  id="at-forgotPwd" class="at-link at-pwd {{disabled}}">{{_ "forgot"}}</a>
  </div>
</template>