<template name="partner">
<h1> {{_"my-referals"}}</h1>
<div id="mylink">
<p id="info"> {{_"partner-info"}}<br><div id="link"><i class="fa fa-chevron-right" aria-hidden="true"></i>{{_"your-link"}} <br><span id="coppy">http://mywar.club/ref/{{currentUser._id}}

<div class="fb-share-button" data-href="http://mywar.club/ref/D24AtjT4AKqKCr6EN" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmywar.club%2Fref%{{currentUser._id}}&amp;src=sdkpreparse">Share</a></div></span></div></p>

</div>
	<table>
	<tr id="head">
	<th>{{_ "Registered"}}</th>
				<th>{{_ "TotalSalary"}}</th>
	</tr>
	<tr class="tab"><td>{{#if count}}{{count}}{{else}}0{{/if}}</td><td>{{#if salary}}{{salary}}{{else}}0{{/if}} WP</td></tr>
	</table>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=188160054919303";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</template>

