#lobbymenu
	width 100%
	display block
	ul 
		width 100%
		display inline-block
		background #000
		li 
			width 100%
			font-family Impact, Charcoal, sans-serif
			list-style none
			
			p 
				text-align center
				color white
				text-transform uppercase
	+above($large)
		margin-top 0
		ul 
			width 620px
			display inline-block
			li
				width  300px;
				float left
				
#gameheader
	width 100%
	img
		margin-top 0
		max-height 100%
		+above($large)
			margin-top 0
	#profile
		margin-right: 0
		margin-top: 0
		width 400px
		height 130px
		float right
		background red
		border-bottom-left-radius 30px
		-moz-border-bottom-left-radius 30px
		-webkit-border-bottom-left-radius 30px
		#balance
			margin-left 30px;
			float left
			width 220px
			font-size 14px
			font-family Impact, Charcoal, sans-serif
			list-style none
		#cashier
			cursor pointer
			margin-left 30px
			float left
			width 220px
			font-size 18px
			font-family Impact, Charcoal, sans-serif
			list-style none
		h3
			margin-left 30px;
			float left
			width 220px
			font-family Impact, Charcoal, sans-serif
			list-style none
		button
			cursor pointer
			font-size 18px
			font-family Impact, Charcoal, sans-serif
			float right
			width 100px
			background #000
			border 0
			color white
			padding 20px
			margin-top 10px
			border-bottom-left-radius 10px
			border-top-left-radius 10px
			-moz-border-bottom-left-radius 10px
			-moz-border-top-left-radius 10px
			-webkit-border-bottom-left-radius 10px
			-webkit-border-top-left-radius 10px

.pc-dimmer 
	opacity 0
#lobby
	background grey
	width 100%
	height 90vh
	padding-top 0
	margin-top 0
	#games
		width 100%
		float left
		
		#add
			color white
			display block
			margin 0 auto
			background black
			width 90%
			margin-bottom 50px
			li 
				font-family Impact, Charcoal, sans-serif
				font-size 18px
				text-align center
				display block
				width 100%
			input
				margin-left 9%
				width 80%
			select
				margin-left 9%
				width 80%
				margin-bottom 20px
			form#addbattle
				width 100%;
				#addgame
					border 0
					background lime
					width 100%
					height 100%
					float right
					p 
						font-family Impact, Charcoal, sans-serif
						font-size 18px
						text-align center
						display block
						width 100%
		#list
			display block
			width 90%
			color white
			display block
			margin 0 auto
			#game
				background black
				margin-top 60px
				li 
					font-family Impact, Charcoal, sans-serif
					font-size 18px
					text-align center
					display block
					width 100%
				select
					margin-left 9%
					width 80%
					margin-bottom 20px
			#yourgame 
					opacity 0.5
					border 0
					background lime
					width 100%
					height 100%
					float right
					p 
						font-family Impact, Charcoal, sans-serif
						font-size 18px
						text-align center
						display block
						width 100%
			.plgame
				border 0
				background red
				width 100%
				height 100%
				float right
				p 
					font-family Impact, Charcoal, sans-serif
					font-size 18px
					text-align center
					display block
					width 100%
		+above($large)
			float left
			height 100%
			width 50%
			margin-right 5%

	#warriors
		width 100%
		height 200px
		margin 0
		padding 0
		ul
			width 100%
		li 
			width 100%
		#rocklobby
			background url("/imgs/rock.jpg") no-repeat center top
			background-size cover
			margin-left 3%
			width 30%
			height 100%
			float left
			#rockcoverlobby
				position: relative;
				width 100%
				height 100%
				background #2b4469 url("/imgs/rockcover.jpg") no-repeat center top
				background-size(contain)
				padding 0
				ul
					padding 0
					position absolute
					bottom 0
					left 0
					li
						list-style none
		#suitlobby
			background  url("/imgs/paper.jpg")  no-repeat center top
			float left
			background-size cover; 
			margin-left 3%
			width 30%
			height 100%
			#suitcoverlobby
				position: relative;
				width 100%
				height 100%
				background #c1b824 url("/imgs/suitcover.jpg") no-repeat center top
				background-size(contain)
				ul
					position absolute
					bottom 0
					padding 0
					li
						list-style none
				
		#cutterlobby
			background url("/imgs/scissors.jpg")  no-repeat center top 
			background-size cover;
			
			float left
			margin-left 3%
			width 30%
			height 100%
			#cuttercoverlobby
				position: relative;
				width 100%
				height 100%
				background #a53036 url("/imgs/cuttercover.jpg") no-repeat center top
				background-size(contain)
				ul
					position absolute
					bottom 0
					padding 0
					li
						list-style none
		+above($large)
			float right
			height 100%
			width 40%
			margin-right 5%
			#rocklobby
				background url("/imgs/rock.jpg") no-repeat center top
				background-size(cover)
				margin-left 0
				width 100%
				height 30%
				#rockcoverlobby
					width 100%
					height 100%
					background #2b4469 url("/imgs/rockcover.jpg") no-repeat center top
					background-size(contain)
			#suitlobby
				background  url("/imgs/paper.jpg")  no-repeat center top
				background-size cover; 
				margin-top 3%
				margin-left 0
				width 100%
				height 30%
				#suitcoverlobby
					width 100%
					height 100%
					background #c1b824 url("/imgs/suitcover.jpg") no-repeat center top
					background-size(contain)
			#cutterlobby
				background url("/imgs/scissors.jpg")  no-repeat center top 
				background-size cover;
				margin-top 3%
				margin-left 0
				width 100%
				height 30%
				#cuttercoverlobby
					width 100%
					height 100%
					background #a53036 url("/imgs/cuttercover.jpg") no-repeat center top
					background-size(contain)