@font-face
   font-family Lombok
   font-style normal
   src url("/fonts/Lombok.otf")
    
background-size(size)
	-webkit-background-size size
	-moz-background-size size
	-o-background-size size
	background-size size  
border-radius(angle)
    -moz-border-radius   angle
    -webkit-border-radius angle
    border-radius         angle

border-left-radius(angle)
	border-bottom-left-radius angle
    border-top-left-radius angle
    -moz-border-bottom-left-radius angle
    -moz-border-top-left-radius angle
    -webkit-border-bottom-left-radius angle
    -webkit-border-top-left-radius angle

box-shadow(color)
    -moz-box-shadow    inset 0 0 10px color
    -webkit-box-shadow inset 0 0 10px color
    box-shadow         inset 0 0 10px color


grey = #333
red = rgb(213, 59, 67)
blue = rgb(68, 107, 164)
yellow = rgb(247, 234, 59)

$xsmall = 400px
$small = 500px
$med = 700px
$large = 960px
$wide = 1200px
select 
	text-transform uppercase
option
	text-transform uppercase

option#id0
	background blue
option#id1
	background red
option#id2
	background yellow
	
li.yellow
	background yellow
li.red
	background red
li.blue
	background blue
li.max 
	background #000
	color white
	width 100%
h1
	text-decoration none
	cursor pointer
	color white
	font-size 36px
	text-align center
	font-family Lombok
	text-transform uppercase
html
	width 100%
	height 100%
	padding 0
	margin 0
	background #000
a 
	color white
	text-decoration none
	&:visited 
		color white
body
	position relative
header
	position relative
	right 0
	margin 0
	padding 0
	height 100px
	width 100%
	#menu-btn
		cursor pointer
		padding 20px
		border-radius(5px)
		background #333
		position absolute
		right 0
		top 80px
		color white
		font-size 20px
	img#logo
		display block
		margin 0 auto
	#flags
		width 150px
		display block
		margin 0 auto
		img#ru
			float right
	+above($large)
		#menu-btn
			display none
#about, #partner-info
	z-index 15
	left 3%
	position fixed
	border-radius(20px)
	font-size 14px
	background grey
	height 45%
	width 90%
	color white
	padding 20px
	p 	
		margin-top: 70px
		text-align: justify;
	button
		cursor pointer
		font-size 18px
		font-family Impact, Charcoal, sans-serif
		float right
		width 100px
		background red
		border 0
		color #000
		padding 20px
		margin-top 10px
		border-radius(10px)
#verify_email
	position fixed
	top 0
	left 0
	width 300px
	height 150px
	background red
	color black
#menuhome
	width 100%
	
	ul
		display none
		width 100%
		border-bottom 2px solid white
		li
			cursor pointer
			display inline-block
			font-family Impact, Charcoal, sans-serif
			font-size 24px
			padding 10px
			color white
			width 100%
			list-style none
			text-transform uppercase
			
		li#about-btn
			&:hover
				color blue
		li#partner-btn
			&:hover
				color red
		li#bonus-btn
			&:hover
				color yellow
			span
				font-size 12px
				width 100%
	+above($large)
		ul
			display inline-block
			li 
				width 300px
#bottom
	width 100%
footer
	margin-top 20px
	float left
	position relative
	background black
	color white
	height 60px
	width 100%
	#flags
		position absolute
		left 20px
		width 40%
		img
			float right
	#footright
		position absolute
		top 10px
		right 10px
		width 40%
		#copyright
			float left
		#contact
			float left
			margin-left 20px
#home 
	
	width 100%
	#homeleft
		margin-top 20px
		width 100%
		height 300px
		float left
		#rock
			background url("/imgs/rock.jpg") no-repeat center top
			background-size(cover)
			width 30%
			height 100%
			float left
			#rockcover
				width 100%
				height 100%
				background #2b4469 url("/imgs/rockcover.jpg") no-repeat center top
				background-size(contain)

		#suit
			background  url("/imgs/paper.jpg")  no-repeat center top
			background-size cover; 
			margin-left 3%
			float left
			width 30%
			height 100%
			#suitcover
				width 100%
				height 100%
				background #c1b824 url("/imgs/suitcover.jpg") no-repeat center top
				background-size(contain)
		#cutter
			background url("/imgs/scissors.jpg")  no-repeat center top 
			background-size cover;
			margin-left 3%
			float left
			width 30%
			height 100%
			#cuttercover
				width 100%
				height 100%
				background #a53036 url("/imgs/cuttercover.jpg") no-repeat center top
				background-size(contain)
		+above($large)
			width 48%
			height 70vh
			#rock
				background url("/imgs/rock.jpg") no-repeat center top
				background-size(cover)
				margin-left 0%
				width 100%
				height 30%
				float left
				#rockcover
					width 100%
					height 100%
					background #2b4469 url("/imgs/rockcover.jpg") no-repeat center top
					background-size(contain)

			#suit
				background  url("/imgs/paper.jpg")  no-repeat center top
				background-size cover; 
				margin-left 0%
				margin-top 3%
				float left
				width 100%
				height 30%
				#suitcover
					width 100%
					height 100%
					background #c1b824 url("/imgs/suitcover.jpg") no-repeat center top
					background-size(contain)
			#cutter
				background url("/imgs/scissors.jpg")  no-repeat center top 
				background-size cover;
				margin-left 0%
				margin-top 3%
				float left
				width 100%
				height 30%
				#cuttercover
					width 100%
					height 100%
					background #a53036 url("/imgs/cuttercover.jpg") no-repeat center top
					background-size(contain)
	#homeright
		width 100%
		float right
		#bonus-btn
			cursor pointer
			display inline-block
			font-family Impact, Charcoal, sans-serif
			font-size 24px
			padding 10px
			color white
			width 100%
			list-style none
			text-transform uppercase
			&:hover
				color yellow
			span
				font-size 12px
				width 100%

		#login
			width 90%
			padding-right 20px
			padding-left 20px
			padding-bottom 20px
			background #111
			input
				margin-top 15px
				border 0
				margin-right 15%
				width 70%
				height 20px
				float right
				padding 5px
				background red
				border-radius 5px
			ul 
				width 90%
				display inline-block
				#lobbybtn
					padding 20px
				li 
					font-family Impact, Charcoal, sans-serif
					background #000
					list-style none
					width 49%
					float left
					p 
						text-align center
						aligntext-transform uppercase
			.forgot
				height 20px
				width 50%
				float right
				
			#my-btn
				width 33%
				padding 10px
				margin-left 50%
				background red
				border 0
				border-radius(5px)
				color white
				margin-top 10px
		+above($large)
			width 48%
.at-terms-link
	p 
		color white
		
#lobbymenu
	width 100%
	display block
	ul 
		width 100%
		display inline-block
		background #000
		li 
			cursor pointer
			width 100%
			font-family Impact, Charcoal, sans-serif
			list-style none
			
			p 
				text-align center
				color white
				text-transform uppercase
	+above($large)
		margin-top 0
		ul 
			width 620px
			display inline-block
			li
				width  300px;
				float left
				
#gameheader
	width 100%
	img
		margin-top 0
		max-height 100%
		+above($large)
			margin-top 0
	#profile
		margin-right: 0
		margin-top: 0
		width 400px
		height 130px
		float right
		background red
		border-bottom-left-radius 30px
		-moz-border-bottom-left-radius 30px
		-webkit-border-bottom-left-radius 30px
		#balance
			margin-left 30px;
			float left
			width 220px
			font-size 14px
			font-family Impact, Charcoal, sans-serif
			list-style none
		#cashier-btn
			cursor pointer
			margin-left 30px
			float left
			width 220px
			font-size 18px
			font-family Impact, Charcoal, sans-serif
			list-style none
		h3
			margin-left 30px;
			float left
			width 220px
			font-family Impact, Charcoal, sans-serif
			list-style none
		button
			cursor pointer
			font-size 18px
			font-family Impact, Charcoal, sans-serif
			float right
			width 100px
			background #000
			border 0
			color white
			padding 20px
			margin-top 10px
			border-bottom-left-radius 10px
			border-top-left-radius 10px
			-moz-border-bottom-left-radius 10px
			-moz-border-top-left-radius 10px
			-webkit-border-bottom-left-radius 10px
			-webkit-border-top-left-radius 10px

.pc-dimmer
	opacity 0
#mydimmer
	opacity 0.5
	z-index 14
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background white
#cashier
	z-index 20
	position fixed
	padding-top 20px
	top 50%
	margin-top: -250px
	left 50%
	margin-left: -250px
	width 480px
	height 500px
	border-radius(20px)
	background #333
	padding-left 20px
	frame
		left 20px
	button
		cursor pointer
		font-size 18px
		font-family Impact, Charcoal, sans-serif
		float right
		width 100px
		background red
		border 0
		color #000
		padding 20px
		margin-top 10px
		border-bottom-left-radius 10px
		border-top-left-radius 10px
		-moz-border-bottom-left-radius 10px
		-moz-border-top-left-radius 10px
		-webkit-border-bottom-left-radius 10px
		-webkit-border-top-left-radius 10px
	p 
		width 100%
		text-align center
		font-size 18px
		font-family Impact, Charcoal, sans-serif
		color white
	#menu 
		width 100%
		background #000
		ul
			width 100%
			
			li 
				list-style none
				width 100%
				color white
				font-family Impact, Charcoal, sans-serif
				font-size 18px
				text-align center

#partner
	padding-top 30px
	padding-bottom 40px
	width 100%
	background grey
	padding-left 20px
	#link 
		margin-top 20px
		background #000
		border-radius(10px)
		color white
		padding 30px
		margin-bottom 20px
	h1
		margin-top 20px
		color white
		font-family Impact, Charcoal, sans-serif
		font-size 28px
		text-align center
	p 
		color white
		text-align justify
		width 600px
		display table
		margin 0 auto
	table
		tr 
			background #000
			color white
		border-radius(10px)
		border 2px solid black
		width 600px
		display table
		margin 0 auto
#history
	padding-top 30px
	padding-bottom 40px
	width 100%
	background grey
	padding-left 20px
	#link 
		margin-top 20px
		background #000
		border-radius(10px)
		color white
		padding 30px
		margin-bottom 20px
	h1
		margin-top 20px
		color white
		font-family Impact, Charcoal, sans-serif
		font-size 28px
		text-align center
	p 
		color white
		text-align justify
		width 600px
		display table
		margin 0 auto
	table
		tr 
			background #000
			color white
		border-radius(10px)
		border 2px solid black
		width 95%
		display table
		margin 0 auto
#lobby
	background grey
	width 100%
	padding-top 0
	margin-top 0
	#games
		overflow-y scroll
		max-height 1000px
		width 100%
		float left
		
		#add
			color white
			display block
			margin 0 auto
			background black
			width 90%
			margin-bottom 50px
			li 
				font-family Impact, Charcoal, sans-serif
				font-size 18px
				text-align center
				display block
				width 100%
			input
				margin-left 9%
				width 80%
			select
				margin-left 9%
				width 80%
				margin-bottom 20px
			form#addbattle
				width 100%;
				#addgame
					border 0
					background lime
					width 100%
					height 100%
					float right
					p 
						font-family Impact, Charcoal, sans-serif
						font-size 18px
						text-align center
						display block
						width 100%
		#list
			display block
			width 90%
			color white
			display block
			margin 0 auto
			#divider
				background #000
				width 100%
				h3 
					padding-top 20px
					width 90%
					text-align center
					margin-bottom 0
					font-family Impact, Charcoal, sans-serif
					font-size 18px
				ul
					width 90%
					margin-left 2%
					display inline-block
					
					li
						cursor pointer
						padding 20px
						float left
						font-family Impact, Charcoal, sans-serif
						font-size 18px
						list-style none
			#game
				background black
				li 
					font-family Impact, Charcoal, sans-serif
					font-size 18px
					text-align center
					display block
					width 100%
				select
					margin-left 9%
					width 80%
					margin-bottom 20px
			#yourgame 
					opacity 0.5
					border 0
					background lime
					width 100%
					height 100%
					float right
					p 
						font-family Impact, Charcoal, sans-serif
						font-size 18px
						text-align center
						display block
						width 100%
			.plgame
				border 0
				background red
				width 100%
				height 100%
				float right
				p 
					font-family Impact, Charcoal, sans-serif
					font-size 18px
					text-align center
					display block
					width 100%
		+above($large)
			float left
			height 100%
			width 50%
			margin-right 5%

	#warriors
		width 100%
		height 200px
		margin 0
		padding 0
		ul
			width 100%
		li 
			width 100%
		#rocklobby
			background url("/imgs/rock.jpg") no-repeat center top
			position relative
			background-size cover
			margin-left 3%
			width 30%
			height 100%
			float left
			padding 0
			#skills 
				padding 0
				width 90%
				border-top-right-radius 20px;
				background #000
				position absolute
				bottom 0
				left 0
				#black
					
					position relative
					width 90%
					list-style none
					padding 10px
					#blue
						width 0%
						height 10px
						background blue;
					#red
						width 0%
						height 10px
						background red
						position relative
					i 
						position absolute
						right 5px
						top 0
						color lime
					#yellow
						width 0%
						height 10px
						background yellow
						position relative
			#rockcoverlobby
				position: relative;
				width 100%
				height 100%
				background #2b4469 url("/imgs/rockcover.jpg") no-repeat center top
				background-size(contain)
				padding 0
				ul
					padding 0
					position absolute
					bottom 0
					left 0
					li
						list-style none
		#suitlobby
			position relative
			background  url("/imgs/paper.jpg")  no-repeat center top
			float left
			background-size cover; 
			margin-left 3%
			margin-top 0
			width 30%
			height 100%
			#skills 
				padding 0
				width 90%
				border-top-right-radius 20px;
				background #000
				position absolute
				bottom 0
				left 0
				#black
					
					position relative
					width 90%
					list-style none
					padding 10px
					#blue
						width 0%
						height 10px
						background blue;
					#red
						width 0%
						height 10px
						background red
						position relative
					i 
						position absolute
						right 5px
						top 0
						color lime
					#yellow
						width 0%
						height 10px
						background yellow
						position relative
			#suitcoverlobby
				position: relative;
				width 100%
				height 100%
				background #c1b824 url("/imgs/suitcover.jpg") no-repeat center top
				background-size(contain)
				ul
					position absolute
					bottom 0
					padding 0
					li
						list-style none
				
		#cutterlobby
			position relative
			background url("/imgs/scissors.jpg")  no-repeat center top 
			background-size cover;
			margin-top 0
			float left
			margin-left 3%
			width 30%
			height 100%
			#skills 
				padding 0
				width 90%
				border-top-right-radius 20px;
				background #000
				position absolute
				bottom 0
				left 0
				#black
					
					position relative
					width 90%
					list-style none
					padding 10px
					#blue
						width 0%
						height 10px
						background blue;
					#red
						width 0%
						height 10px
						background red
						position relative
					i 
						position absolute
						right 5px
						top 0
						color lime
					#yellow
						width 0%
						height 10px
						background yellow
						position relative
			#cuttercoverlobby
				position: relative;
				width 100%
				height 100%
				background #a53036 url("/imgs/cuttercover.jpg") no-repeat center top
				background-size(contain)
				ul
					position absolute
					bottom 0
					padding 0
					li
						list-style none
		+above($large)
			float right
			height 100%
			width 40%
			margin-right 5%
			#rocklobby
				background url("/imgs/rock.jpg") no-repeat center top
				background-size(cover)
				margin-left 0
				width 100%
				height 30%
				#rockcoverlobby
					width 100%
					height 100%
					background #2b4469 url("/imgs/rockcover.jpg") no-repeat center top
					background-size(contain)
			#suitlobby
				background  url("/imgs/paper.jpg")  no-repeat center top
				background-size cover; 
				margin-top 3%
				margin-left 0
				width 100%
				height 30%
				#suitcoverlobby
					width 100%
					height 100%
					background #c1b824 url("/imgs/suitcover.jpg") no-repeat center top
					background-size(contain)
			#cutterlobby
				background url("/imgs/scissors.jpg")  no-repeat center top 
				background-size cover;
				margin-top 3%
				margin-left 0
				width 100%
				height 30%
				#cuttercoverlobby
					width 100%
					height 100%
					background #a53036 url("/imgs/cuttercover.jpg") no-repeat center top
					background-size(contain)